<section class="text-center text-white jumbo-home" id="">
	<div class="container home-page-heading rounded">
		<h1 class="jumbotron-heading" style="color: #f1ed62;"><%= headingDisplay %></h1>
	</div>
</section>