<section class="text-center text-white" id="">
	<div class="container home-page-heading rounded">
		<h1 class="burbank_font shadow_5 m-0" style="color: #f1ed62;"><%= headingDisplay %></h1>
	</div>
</section>