<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content text-white mine_shaft_gray_bg">
			<button type="button" class="border-0 p-0 text-white mine_shaft_gray_bg" data-dismiss="modal" aria-label="Close">
				<div class="mt-3 mb-0 h1 burbank_font">Map Successfully Submitted!</div>
				<div id="modal-title" class="card-header text-center h4 py-3"></div>
				<img id="modal-image"src="" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text text-center code_font">Code: <span id="modal-code"></span> <br>(<span id="modal-author"></span>)</p>
				</div>
			</button>
		</div>
	</div>
</div>