<section id="">
		<div class="">
			<!-- Nav Bar -->
			<nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark bg-gray">
				<div class="container-fluid">
					<!-- Site Title -->
					<a class="navbar-brand" href="/">Fortnite Creative Codes</a>
					<!-- Mobile Nav Button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Navigation Links -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">

						<ul class="navbar-nav mr-auto" id="btn-container">
							<li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          Sort Islands
						        </a>
						        <div class="dropdown-menu bg-gray" aria-labelledby="navbarDropdown">
						          	<a class="dropdown-item" href="/all">All</a>
						          	<a class="dropdown-item" href="/obstacle-parkour" >Obstacle & Parkour</a>
						          	<a class="dropdown-item" href="/racing">Racing</a>
						          	<a class="dropdown-item" href="/minigame">Minigame</a>
						          	<a class="dropdown-item" href="/battle-arena">Battle Arena</a>
						          	<a class="dropdown-item" href="/edit-courses">Edit Courses</a>
						          	<a class="dropdown-item" href="/creative-builds">Creative Builds</a>
						        </div>
						    </li>
							<li class="nav-item">
								<a class="nav-link" href="/popular">Popular</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/new">New</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/submit">Submit Island</a>
							</li>
						</ul>
						<!-- Search Bar & Button -->
						<form action="/search" method="POST" class="navbar-form form-inline my-2 my-lg-0">
						
							<div class="input-group center-search">
								<input class="form-control mr-sm-2 rounded-right" type="search" placeholder="Search" aria-label="Search" id="search-input" name="searchInput" autocomplete="off">
								<button class="btn bg-gray search-icon" type="submit" id="search-submit"><i class="fas fa-search"></i></button>
							</div>

						</form>
					</div>
				</div>
			</nav>
		</div>
	</section>