<section class="text-white heading_mt" id="">
  <div class="container position-relative">
    <div class=" pt-1 rounded">
      <div class="">
        <h1 class="burbank_font shadow_5 m-0 text-center"><%= headingDisplay %></h1>
      </div>
    </div>
  </div>
</section>