<section class="text-white" id="">
	<div class="container position-relative mt-4">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="mine_shaft_gray_bg pt-1 rounded-bottom">
			<div class="mini_nav_div">
				<ul class="mini_nav">
					<li id="newest" class="mini_link <%= newestActive %>">
						<a class="" href="?sortby=newest" >Newest</a>
					</li>
					<li id="mostViewed" class="mini_link <%= viewsActive %>">
						<a href="?sortby=views" >Most Viewed</a>
					</li>
				</ul>
			</div>
			<div class="">
				<h1 class="burbank_font shadow_5 m-0 text-center"><%= headingDisplay %></h1>
			</div>
		</div>
	</div>
</section>