<!-- <section id="jumbo">
	<div class="text-center text-white p-2">
		<div class="container">
			<h1 class="jumbotron-heading" style="color: #f1ed62;"><%= headingDisplay %></h1>
		</div>
	</div>
</section> -->

<section class="text-center text-white jumbo-home" id="">
	<div class="container home-page-heading">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="heading-text rounded-bottom">
			<h1 class="jumbotron-heading pt-4"><%= headingDisplay %></h1>
			<ul class="mini-nav">
				<li class="mini-link"><a>Newest</a></li>
				<li class="mini-link"><a>Most Viewed</a></li>
			</ul>
		</div>
	</div>
</section>