<section class="text-white jumbo-home" id="">
	<div class="container home-page-heading">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="heading-text rounded-bottom">
			<div class="">
				<div class="">
					<ul class="mini-nav" style="display: inline; position: absolute;">
						<li class="mini-link active"><a>Newest</a></li>
						<li class="mini-link"><a>Most Viewed</a></li>
					</ul>
				</div>
				<div class="">
					<h1 class="jumbotron-heading filter-display text-center"><%= headingDisplay %></h1>
				</div>
			</div>
		</div>
	</div>
</section>