<section class="text-center text-white" id="">
	<div class="container home-page-heading">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="heading-text rounded-bottom">
			<h1 class="burbank_font shadow_5 m-0"><%= headingDisplay %></h1>
		</div>
	</div>
</section>