<section class="text-center text-white" id="">
	<div class="container position-relative mt-4">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="mine_shaft_gray_bg pt-1 rounded-bottom">
			<h1 class="burbank_font shadow_5 m-0"><%= headingDisplay %></h1>
		</div>
	</div>
</section>