<section class="text-white jumbo-home" id="">
	<div class="container home-page-heading">
		<div class="<%= headingImage %> rounded-top">
		</div>
		<div class="heading-text rounded-bottom">
			<div class="mini-nav-div">
				<ul class="mini-nav">
					<li id="newest" class="mini-link <%= newestActive %> hvr-underline-reveal">
						<a href="?sortby=newest" >Newest</a>
					</li>
					<li id="mostViewed" class="mini-link <%= viewsActive %> hvr-underline-reveal">
						<a href="?sortby=views" >Most Viewed</a>
					</li>
				</ul>
			</div>
			<div class="">
				<h1 class="jumbotron-heading filter-display text-center"><%= headingDisplay %></h1>
			</div>
		</div>
	</div>
</section>