body {
	background-color: #1f1f1f;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*color palette*/

.mine_shaft_gray_bg {
	background-color: #2a2a2a;
}

.gray_trans_bg {
  background-color: rgba(42, 42, 42, .9);
}

.shark_gray_bg {
  background-color: #202020;
}

.manz_yellow_bg {
  background-color: #f1ed62;
}

.dodger_blue_bg {
  background-color: #17c2fe;
}

.lavender_bg {
  background-color: #c272d9;
}

.pale_sky_gray {
  color: #6c757d;
}

.manz_yellow {
  color: #f1ed62;
}

.black {
  color: black;
}



/*fonts & typograhy*/

@font-face {
  font-family: 'Burbank Big Cd Bk';
  src: url('../fonts/BurbankBigCondensed-Bold.otf');
}

.burbank_font {
  font-family: 'Burbank Big Cd Bk', sans-serif;
}

.code_font {
	font-family: 'Roboto Mono', monospace;
}

.shadow_5 {
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 4px 4px 0px rgb(0, 0, 0);
}

/* partials/background */

.background_header_main {
  background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_trans.jpg");
  background-size: cover;
  background-position: 0% 45%;
  padding: 12rem;
  position: absolute;
  width: 100%;
}

.background_header_submit {
  background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_2.png");
  background-size: cover;
  background-position: 0% 10%;
  padding: 12rem;
  position: absolute;
  width: 100%;
}

/* partials/navbar */

#navbar-main input {
  color: rgba(255,255,255,.9);
  font-size: 1.2rem;
}

input[type="search"] {
  background-color: rgba(255,255,255,.1);
  border: none;
}

input[type="search"]:focus {
  background-color: rgba(255,255,255,.1);
}

.navbar {
  top: 0;
  /*transition: opacity 2s ease-out;*/
  transition: top .3s ease-out;
  transition-delay: .2s;
}

.navbar.scrolled {
  background: #2a2a2a;
}

.nav_right {
  padding-top: .6rem;
}

.nav_btns_right {
  padding-top: .9rem;
}

.nav-link :hover {
  color: white;
}

.submit_island {
  font-size: 1.2rem;
  padding: .4rem .7rem;
}

.search_icon {
  color: rgba(255,255,255,.5);
}

.search_icon:hover {
  color: rgba(255,255,255,1);
}

.dropdown .dropdown-menu .dropdown-item {
  color: rgba(255,255,255,.7);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255,255,255,.1);
}

.navbar-brand {
  font-size: 1.5rem;
}

/*sort nav*/

.nav_hide {
  visibility: hidden;
}

.navbar_sort {
  margin: 6.7rem auto 0;
  max-width: 280px;
  border-radius: 0 0 50px 50px;
}

.navbar_sort_links {
  margin: 0 auto;
}

.navbar_sort_links a {
  padding-top: 0;
}

/* partials/page_heading */

.heading_image_default { /*Home*/
  background-image: url("../images/fortnite_image.jpg");
  background-position: 0% 70%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_sniper { /*Popular*/
  background-image: url("../images/fortnite_sniper_image.jpg");
  background-position: 0% 20%;
  background-size: cover;
  padding: 2rem 0 1rem;
}

.heading_image_zombies { /*New*/
  background-image: url("../images/fortnite_zombies_image.jpg");
  background-position: 0% 25%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_submit { /*Submit Island*/
  background-image: url("../images/fortnite_playground_mode.jpg");
  background-position: 0% 50%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_mt {
  padding-top: 8rem;
}

.circle {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
}

.icon_parkour {
  font-size: 2.3rem;
  padding-top: .7rem;
  padding-bottom: .25rem;
}

.icon_racing {
  font-size: 2.13rem;
  padding-top: .7rem;
  padding-bottom: .283rem;
}

.icon_minigame {
  font-size: 2.13rem;
  padding-top: .8rem;
  padding-bottom: .283rem;
}

.icon_arena {
  font-size: 2.3rem;
  padding-top: .7rem;
  padding-bottom: .25rem;
}

.icon_edit {
  font-size: 2rem;
  padding-top: .7rem;
  padding-bottom: .483rem;
}

.icon_creative {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: .25rem;
}

.categ_icons {
  padding-bottom: 2rem;
}

.hvr-circle-to-top { /* Circle Bounce To Top */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-circle-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  background: rgba(194,114,217,.7);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-circle-to-top:hover, .hvr-circle-to-top:focus, .hvr-circle-to-top:active {
  color: white;
}

.hvr-circle-to-top:hover:before, .hvr-circle-to-top:focus:before, .hvr-circle-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.category_active {
  border-radius: 100px;
  background: rgba(194,114,217,.7);
  color: white;
  transform: scale(1.05);
}

.rotate {
  animation: spinHorizontal .7s ease;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgba(23,194,254,.7);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: rgba(255,255,255,1);
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* partials/page_heading_sort */

.heading_image { /*All*/
  background-image: url("../images/fortnite_creative_2.png");
  background-position: 0% 10%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_multiplayer { /*Minigame / Battle Arena*/
  background-image: url("../images/fortnite_multiplayer_image.jpg");
  background-position: 0% 40%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_freefall { /*Obstacle & Parkour*/
  background-image: url("../images/fortnite_freefall_image.jpg");
  background-position: 0% 40%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_edit { /*Edit Courses*/
  background-image: url("../images/fortnite_edit_image.jpg");
  background-position: 0% 60%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_racing { /*Racing*/
  background-image: url("../images/fortnite_racing_image.png");
  background-position: 0% 50%;
  background-size: cover;
  padding: 7rem 0;
}

a:link {
  text-decoration: none;
}

.mini_nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.mini_nav li {
  color: white;
  float: left;
  padding: 0 16px 5px;
  text-align: center;
  text-decoration: none;
}

.mini_nav li a {
  color: white;
  display: block;
  padding: 8px;
}

.mini_link {
  cursor: pointer;
  margin-top: 3rem;
}

.hvr_underline_reveal { /* Underline Reveal */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.hvr_underline_reveal:before {
  background: #f1ed62;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr_underline_reveal:hover:before, .hvr_underline_reveal:focus:before, .hvr_underline_reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.underline_active {
    background-image: linear-gradient(to right, #f1ed62, #f1ed62);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    color: white;
}

/*home*/

#home .container {
  max-width: 100%;
  width: 1400px;
}


/* maps / maps_filter */

#maps {
  padding-top: 7rem;
}

#maps_filter {
  padding-top: 7rem;
}

.tablet_mt {
  margin-top: 2.5rem;
}

.hvr_grow { /* Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr_grow:hover, .hvr_grow:focus, .hvr_grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.category_tag { /*maps_filter*/
  background-color: rgba(42,42,42,.9);
  border-radius: 4px;
  color: rgba(241,237,98);
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: .5rem;
  position: absolute;
  right: 2.5%;
  top: 57%;
}

/* submit */

/*#navbar-main input {
  color: rgba(255,255,255,.9);
  font-size: 1.2rem;
}

input[type="search"] {
  background-color: rgba(255,255,255,.1);
  border: none;
}

input[type="search"]:focus {
  background-color: rgba(255,255,255,.1);
}*/

#submit {
  padding-top: 8rem;
}

#submit input {
  color: rgba(255,255,255,.9);
  /*font-size: 1.2rem;*/
}

#contact input {
  color: rgba(255,255,255,.9);
}

input[type="text"], input[type="tel"], input[type="file"], #category, input[type="email"], textarea[type="text"], input[type="password"] {
  background-color: rgb(32,32,32);
  color: white;
  border: none;
  border: 1px solid rgba(255,255,255,.1);
}

input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="file"]::placeholder, input[type="email"]::placeholder, textarea[type="text"]::placeholder, input[type="password"]::placeholder {
  color: rgba(255,255,255,.5);
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, textarea[type="text"]:focus, input[type="password"]:focus {
  background-color: rgb(32,32,32);
  color: white;
}

.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 2.7rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.upload_btn_wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.photo_btn {
  background-color: rgb(32,32,32);
  border: 1px solid rgba(255,255,255,.1);
}

.submit_button {
  background-color: rgb(32,32,32);
  border: 1px solid rgba(255,255,255,.5);
  /*border-color: gray;*/
 /* margin: 0 18rem 0;*/
}

.btn_center_submit {
  margin: 0 18rem 0;
}

.btn_center_contact {
  margin: 0 3.3rem 0;
  max-width: 80%;
}

.submit_button:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

.placeholder_center ::placeholder {
	text-align: center;
	font-size: 1rem;
}

.submit-map {
  position: relative;
}

/*contact*/

#contact {
  padding-top: 8rem;
}

.contact {
  max-width: 35rem;
}

/* map */
#user_map {
  padding-top: 8rem;
}
  
#user_map .container {
	max-width: 100%;
	width: 1200px;
}

.island_title {
  line-height: 1;
}

.island_bio {
  letter-spacing: 2px;
  line-height: 1.5;
}

.island_code {
  letter-spacing: 10px;
  line-height: 1;
}

.user_map {
  position: relative;
}

/*maps_search*/

#maps_search {
  padding-top: 1.5rem;
}

.darken_img {
  filter: brightness(80%);
}

/*admin_login*/
.admin_tile {
 margin: 5rem;
}

.admin_login {
  padding-top: 12%;
  padding-bottom: 6%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*admin_portal*/
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, .1);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-size: 1.2rem;
  font-weight: 650;
  color: white;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*404*/
#not_found {
  padding-top: 10rem;
}

.page_not_found {
  font-size: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.error_nf {
  font-size: 15rem;
}

/* media queries */ 

@media (max-width: 1393px) {
  .tablet_mt {
    margin-top: 2.5rem;
  }
  #navbar-main .container-fluid {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .icon_pad_r {
    padding-right: 4rem;
  }
}

@media (max-width: 1200px) {
  .burbank_font shadow_5 {
    font-size: 4rem;
  }
  .mini_link {
    margin-top: 1.7rem;
  }
	.category_tag {
    right: 2.5%;
		top: 53%;
	}
}

@media (max-width: 992px) {
  .search_center {
    margin: 0 auto;
    padding: 0;
  }
  .burbank_font shadow_5 {
    font-size: 3rem;
    padding-top: 6rem;
  }
  .mini_nav {
    position: static;
  }
  .mini_nav_div {
    float: left;
  }
	.category_tag {
    right: 2.5%;
		top: 70.5%;
	}
  .nav_right {
    padding-top: 2rem;
  }
  .tablet_mt {
    margin-top: 0;
  }
  .icon_pad_r {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
	.category_tag {
		top: 65%;
		right: 2.5%;
	}
}

@media (max-width: 576px) {
	.category_tag {
		top: 62%;
		right: 2.5%;
	}
}