body {
	background-color: #1f1f1f;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'Burbank Big Cd Bk';
	src: url('../fonts/BurbankBigCondensed-Bold.otf');
}

.site-background {
	position: absolute;
	background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_trans.jpg");
	width: 100%;
	background-size: cover;
	background-position: 0% 45%;
	padding: 12rem;
	
}

.submit-background {
	position: absolute;
	background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_2.png");
	width: 100%;
	background-size: cover;
	background-position: 0% 10%;
	padding: 12rem;
	
}

.creative-background {
	background-image: url("../images/fortnite_creative_trans.jpg");
	background-size: cover;
	background-position: 0% 45%;

}

.creative-background-home {
	background-image: url("../images/fortnite_creative_trans.jpg");
	background-size: cover;
	background-position: 0% 45%;

}

.ash-grey {
	background-color: #b5c2b7;
	background-size: cover;
}

.bg-gray {
	background-color: #2a2a2a;
}

.gray-outline {
	border-color: #6c757d;
}


.light-gray-section {
	background-color: #1f1f1f;
}

.lighter-gray-section {
	background-color: #292929;
}

.card-heading-larger {
	font-size: 1.5em;
}

.social-ico {
	color: #6c757d;
	margin: 0px 10px 20px;
}

.gray-text {
	color: #6c757d;
}

.code-text {
	font-family: 'Roboto Mono', monospace;
}


#jumbo {
	padding-top: 0;
	padding-bottom: 0;

}

#jumbo-home {
	padding-top: 5rem;
	padding-bottom: 5rem;

}

.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background-color: transparent;
}

@media (min-width: 768px) {
	.jumbotron {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-family: 'Burbank Big Cd Bk', sans-serif;
	font-weight: 500;
	font-size: 5rem;
	text-shadow: 4px 4px 0px rgb(0, 0, 0);
	padding: 0;
	margin: 0;
}


.jumbotron .container {
	max-width: 200rem;
}

.filter-div {
	display: none;
}

.show {
	display: block;
}

.navbar .navbar-collapse {
	text-align: center;
}


@media (min-width: 992px) {
	.navbar .container-fluid {
		margin: 0% 0%;
	}
}

.hidden {
	position: fixed;
	visibility: hidden;
}

.creative-submit-background {

	background-image: url('../images/fortnite_creative_2.png');
	background-size: cover;
}

@media (max-width: 992px) {
	.creative-submit-background {
		background-position: 56% 0%;
	}
}

.submit-container {
	padding: 10% 25% 1.5%;
	background-color: rgb(42,42,42);
	
}

@media (max-width: 992px) {
	.center-search {
		margin: 0 auto;
		padding: 0;
	}

	.submit-container {
		padding: 10% 10% 1.5%;
	}
	/*#userMap .container {
		padding: 0 10%;
	}*/
	/*#userMap .my-5 {
		margin: 0;
	}*/


}

.placeholder-center ::placeholder {
	text-align: center;
	font-size: 1rem;
}


a:link {
	text-decoration: none;
}

.modal-body-style {
	border: none;
	padding: 0;
}


.submit-success {
	font-family: 'Burbank Big Cd Bk', sans-serif;
}

.card-link {
	color: white;
}

.card-link:hover {
	color: white;
}

/*.crop-yt-thumbnail {
	height: auto;
	overflow: hidden;
}

.crop-yt-thumbnail img {
	
}*/

#userMap .container {
	max-width: 100%;
	width: 1200px;
}

.dropdown .dropdown-menu .dropdown-item {
	color: rgba(255,255,255,.7);
	background-color: #2a2a2a;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
	background-color: rgba(255,255,255,.1);
/*	color: rgba(255,255,255,.7);*/
}

/*ul.navbar-nav a:hover {
	color: yellow !important;
}*/

.fort-text-yellow {
	color: #f1ed62;
}

.text-auto-lg {
	font-size: 4vw;
}

.text-auto-md {
	font-size: 2.5vw;
}

.text-auto-sm {
	font-size: 2vw;
}

.text-auto-xs {
	font-size: 1.5vw;
}

.map-title {
	font-size: 3.5rem;
	margin: 0;
	line-height: .7;
}

.map-views {
	margin: 0;
	line-height: .7;
}

.island-title {

	
	line-height: 1;

}

.island-author {

	
}

.island-bio {

	
	letter-spacing: 2px;
	line-height: 1.5;
}

.island-code {

	
	letter-spacing: 10px;
	line-height: 1;
}
.island-copy {

	
}
.island-views {
	
}

/*.yt-div {
	height: 180px;
  	width: 270px;
  	max-width: 50%;
}
*/

@media (max-width: 992px) {
	.island-title {
		
		
		line-height: 1;
	}

	.island-author {
		
		
	}

	.island-bio {
		
		
		letter-spacing: 2px;
		line-height: 1.5;
	}

	.island-code {
		
		
		letter-spacing: 10px;
		line-height: 1;
	}
	.island-copy {
		
		
	}
	.island-views {
		
		
		
	}
}

#copy-code {
	white-space: nowrap;
}

.home-page-heading {
	position: relative;
	margin-top: 2rem;
	
}

.heading-image {
	background-image: url("../images/fortnite_creative_2.png");
	background-position: 0% 10%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-multiplayer {
	background-image: url("../images/fortnite_multiplayer_image.jpg");
	background-position: 0% 40%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-sniper {
	background-image: url("../images/fortnite_sniper_image.jpg");
	background-position: 0% 20%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-freefall {
	background-image: url("../images/fortnite_freefall_image.jpg");
	background-position: 0% 40%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-zombies {
	background-image: url("../images/fortnite_zombies_image.jpg");
	background-position: 0% 25%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-submit {
	background-image: url("../images/fortnite_playground_mode.jpg");
	background-position: 0% 50%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-edit {
	background-image: url("../images/fortnite_edit_image.jpg");
	background-position: 0% 60%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-creative {
	background-image: url("../images/fortnite_block_image.png");
	background-position: 0% 35%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-racing {
	background-image: url("../images/fortnite_racing_image.png");
	background-position: 0% 50%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-image-default {
	background-image: url("../images/fortnite_image.jpg");
	background-position: 0% 70%;
	background-size: cover;
	padding: 7rem 0;
}

.heading-text {
	background-color: rgb(42,42,42);
	padding-top: .5rem;
}


.mini-nav li a {
	display: block;
	padding: 8px;
}

.mini-nav {
	display: inline;
	position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(42,42,42);
}

.mini-nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0 16px 5px;
  text-decoration: none;
}

.mini-link {
	margin-top: 3rem;
	cursor: pointer;
}



.filter-display {
	/*padding-right: 20rem;*/
	/*padding-left: 20rem;*/
}

#navbar-main input {
	color: rgba(255,255,255,.9);
}

input[type="search"] {
	background-color: rgba(255,255,255,.1);
	border: none;
}

input[type="search"]:focus {
  background-color: rgba(255,255,255,.1);
}

.search-icon {
	color: rgba(255,255,255,.5);
}

.search-icon:hover {
	color: rgba(255,255,255,1);
}

/*.submit-map input {
	color: rgba(255,255,255,.9) !important;
}

.submit-map input[type="text"] {
	background-color: rgba(255,255,255,.1);
	border: none;
}

.submit-map input[type="tel"] {
	background-color: rgba(255,255,255,.1);
	border: none;
}

.submit-map select {
	background-color: rgba(255,255,255,.1);
	border: none;
}

.submit-map input[type="file"] {
	background-color: rgba(255,255,255,.1);
	border: none;
}*/

.mini-nav a {
	color: white;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1ed62;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.underline-active {
    border-bottom: solid 4px #f1ed62;
}
.hvr-underline-reveal:hover:not(.active) { 
   border-bottom: solid 4px #f1ed62;
} 


@media (max-width: 1199px) {
	.jumbotron-heading {
		font-size: 4rem;
	}
	.mini-link {
		margin-top: 1.7rem;
	}
}

@media (max-width: 992px) {
	.jumbotron-heading {
		font-size: 3rem;
		padding-top: 6rem;
	}
	.mini-nav {
		position: static;
	}
	.mini-nav-div {
		float: left;
	}
}