body {
	background-color: #1f1f1f;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*color palette*/

.mine_shaft_gray_bg {
	background-color: #2a2a2a;
}

.pale_sky_gray {
  color: #6c757d;
}

.manz_yellow {
  color: #f1ed62;
}

/*fonts & typograhy*/

@font-face {
  font-family: 'Burbank Big Cd Bk';
  src: url('../fonts/BurbankBigCondensed-Bold.otf');
}

.burbank_font {
  font-family: 'Burbank Big Cd Bk', sans-serif;
}

.code_font {
	font-family: 'Roboto Mono', monospace;
}

.shadow_5 {
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 4px 4px 0px rgb(0, 0, 0);
}

/* partials/background */

.background_header_main {
  background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_trans.jpg");
  background-size: cover;
  background-position: 0% 45%;
  padding: 12rem;
  position: absolute;
  width: 100%;
}

.background_header_submit {
  background-image: linear-gradient( rgba(31, 31, 31, .7), rgba(31, 31, 31, 0.7)), url("../images/fortnite_creative_2.png");
  background-size: cover;
  background-position: 0% 10%;
  padding: 12rem;
  position: absolute;
  width: 100%;
}
/* partials/navbar */

#navbar-main input {
  color: rgba(255,255,255,.9);
}

input[type="search"] {
  background-color: rgba(255,255,255,.1);
  border: none;
}

input[type="search"]:focus {
  background-color: rgba(255,255,255,.1);
}

.search-icon {
  color: rgba(255,255,255,.5);
}

.search-icon:hover {
  color: rgba(255,255,255,1);
}

.dropdown .dropdown-menu .dropdown-item {
  color: rgba(255,255,255,.7);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255,255,255,.1);
}

/* partials/page_heading */

.heading_image_default { /*Home*/
  background-image: url("../images/fortnite_image.jpg");
  background-position: 0% 70%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_sniper { /*Popular*/
  background-image: url("../images/fortnite_sniper_image.jpg");
  background-position: 0% 20%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_zombies { /*New*/
  background-image: url("../images/fortnite_zombies_image.jpg");
  background-position: 0% 25%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_submit { /*Submit Island*/
  background-image: url("../images/fortnite_playground_mode.jpg");
  background-position: 0% 50%;
  background-size: cover;
  padding: 7rem 0;
}

/* partials/page_heading_sort */

.heading_image { /*All*/
  background-image: url("../images/fortnite_creative_2.png");
  background-position: 0% 10%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_multiplayer { /*Minigame / Battle Arena*/
  background-image: url("../images/fortnite_multiplayer_image.jpg");
  background-position: 0% 40%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_freefall { /*Obstacle & Parkour*/
  background-image: url("../images/fortnite_freefall_image.jpg");
  background-position: 0% 40%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_edit { /*Edit Courses*/
  background-image: url("../images/fortnite_edit_image.jpg");
  background-position: 0% 60%;
  background-size: cover;
  padding: 7rem 0;
}

.heading_image_racing { /*Racing*/
  background-image: url("../images/fortnite_racing_image.png");
  background-position: 0% 50%;
  background-size: cover;
  padding: 7rem 0;
}

a:link {
  text-decoration: none;
}

.mini-nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.mini-nav li {
  color: white;
  float: left;
  padding: 0 16px 5px;
  text-align: center;
  text-decoration: none;
}

.mini-nav li a {
  color: white;
  display: block;
  padding: 8px;
}

.mini-link {
  cursor: pointer;
  margin-top: 3rem;
}

.hvr-underline-reveal { /* Underline Reveal */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.hvr-underline-reveal:before {
  background: #f1ed62;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.underline-active {
    background-image: linear-gradient(to right, #f1ed62, #f1ed62);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}

/* maps / maps_filter */

.hvr-grow { /* Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.category-tag { /*maps_filter*/
  background-color: rgba(42,42,42,.9);
  border-radius: 4px;
  color: rgba(241,237,98);
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: .5rem;
  position: absolute;
  right: 2.5%;
  top: 57%;
}

/* submit */

.placeholder_center ::placeholder {
	text-align: center;
	font-size: 1rem;
}

/* map */
  
#userMap .container {
	max-width: 100%;
	width: 1200px;
}

.island_title {
  line-height: 1;
}

.island_bio {
  letter-spacing: 2px;
  line-height: 1.5;
}

.island_code {
  letter-spacing: 10px;
  line-height: 1;
}

/* media queries */ 

@media (max-width: 1200px) {
  .burbank_font shadow_5 {
    font-size: 4rem;
  }
  .mini-link {
    margin-top: 1.7rem;
  }
	.category-tag {
    right: 2.5%;
		top: 53%;
	}
}

@media (max-width: 992px) {
  .search_center {
    margin: 0 auto;
    padding: 0;
  }
  .burbank_font shadow_5 {
    font-size: 3rem;
    padding-top: 6rem;
  }
  .mini-nav {
    position: static;
  }
  .mini-nav-div {
    float: left;
  }
	.category-tag {
    right: 2.5%;
		top: 70.5%;
	}
}

@media (max-width: 768px) {
	.category-tag {
		top: 65%;
		right: 2.5%;
	}
}

@media (max-width: 576px) {
	.category-tag {
		top: 62%;
		right: 2.5%;
	}
}